<header>
  <h1>Welcome to MicroBloggos</h1>
  <h3><a routerLink="/current_user">{{ username }}</a></h3>
  <div *ngIf="username">
    <!-- <div id="nav"> -->
      <button (click)="logout()">Logout</button>
    <!-- </div> -->
    <a routerLink="/users">Users</a>
    <a routerLink="/new_post">New post</a>
    <a routerLink="/followed">My followed twit</a>
      <input type="text" placeholder="search by hashtags"
      [(ngModel)]="searchBar">
      <button type="submit" (click)="onSubmit()">Search</button>
      {{ err }}
  </div>
</header>
<div id="thread">
  <h3>Last twits</h3>
  <table *ngFor="let post of posts; let i=index">
    <div *ngIf="i<=5">
      <tr><h4>{{ post.title}}</h4><i> by {{ post.author }}</i></tr>
      <tr>{{ post.content | slice:0:100}}<i> {{ post.date }}</i></tr>
    </div>
  </table>
</div>

<div id="router-outlet">
  <router-outlet></router-outlet>
</div>
